/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	background: #fafafa;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.container{
	width:100%;
	padding: 0 3em;
	}

.main-header{
	background-color: #fafafa;
}
/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
	margin: 0;
	float: left;
}

.name{
    	width: 100%;
}

.main-nav {
	margin-top: 5px;
}

.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 0px;
}

.main-nav a {
	font-size: .95em;
	color: #4a4a4a;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}



/* ---- Layout Containers ---- */



.one-column{
	float: right;
	width: 47%;	

}

.one-column {
		width: 34%;
	}

.two-column{
	float: left;
	width: 50%;
}

.title{
	text-align: center;
	text-transform: uppercase;
	padding: 1em 0;
}

.portfolio{
	background: #fff;
	margin-top: 15px!important; 
}

.primary, .secondary, .tertiary {  
		width: 33%;
		float: left
	}


.description{
	text-align: center;
	padding-top:1em; 
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}


.main-footer {
	background: #fff;
	padding: 2em 0;
	margin-top: 30px;
}

.contact-info{
	text-align: center;
    padding: 0 19%;
}



/* ---- Page Elements ---- */

.logo {
	width: 190px;
}

.headline {
	margin-bottom: 0;
}

	.container {
	    width: 100%;
	    padding: 0 1em;
	}


	.one-column {
    	width: 100%;
	}

	.two-column {
		width: 100%;
	}

	.primary,
	.secondary,
	.tertiary{
		width: 100%!important;
		float: left;
	}

	


.name-footer {
    font-size: .8em;
    width: 55%;
    display: inline-block;
    float: left;
}

.mobileonly{
	display: block;
	font-size: .9em;
    float: right;
}

.main-nav-footer{
	display: none
}

/* ---- Float clearfix ---- */

.clearfix::after {
		content: " ";
		display: table;
		clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

	.container {
		width: 90%;
		margin: 0 auto;
		padding: 0;
	}

	.name{
	float: left;
	width: 27%;
	}

	.main-nav {
	float: right;	
    padding-right: 19px;

	}

	.main-nav li {
    display: inline-block;
    margin-left: 15px;
	}


	.one-column {
    width: 50%;
	}

	.two-column {
    width: 50%;
	}

	.primary,
	.secondary,
	.tertiary{
		width: 50%!important;
		float: left;
	}

	.tagline {
		font-size: 1.4em;
	}



	.name-footer a, .main-nav-footer a {
	    text-align: left;
	    display: block;
	    padding: 0;
	}

	.mobileonly{
	display: none;
	}

	.main-nav-footer{
	display: inline-block;
	float: right;
	}

	.main-nav-footer li {
    display: inline-block;
    margin-right: 10px;
	}

}

@media (min-width: 1024px){

	.container {
		width:80%;
		max-width:1150px!important;
	}

	.primary, .secondary, .tertiary {
    width: 30%!important;
	}
	

}














